@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 3 7 18;
  --foreground: 243 244 246;
  --card: 17 24 39;
  --muted: 107 114 128;
  --accent: 22 163 74;
}

* {
  border-color: rgb(31 41 55);
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
